@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Sans|Playfair+Display+SC&display=swap');

body {
    font-family: 'Josefin sans', sans-serif;
}

.top-bound {
    margin-top: 20%!important;
}

.contact {
    padding-bottom: 4%;
}

.address {

    padding-bottom: 3%;
}
.email {
    padding-top: 7%;
    padding-bottom: 3%;
}

footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .top-bound {
        margin-top: 10%!important;
    }
}

@media (min-width: 992px) {
    .top-bound {
        margin-top: 7%!important;
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media (min-width: 1200px) {

}