@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Sans|Playfair+Display+SC&display=swap');

body {
    font-family: 'Josefin sans', sans-serif;
}

.top-bound {
    margin-top: 10%;
}

strong {
    font-weight: 600;
}
h1 {

    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 2.4em;
}

#timeline-content {
    margin-top: 50px;
    text-align: center;
}

.timeline {
    border-left: 4px solid black;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0.8rem!important;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 60%;
    margin-right: 0;
}

.timeline h1 {

    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {

    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
}
.timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -217.5px;
    color: black;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;

}

.timeline .event:after {
    box-shadow: 0 0 0 4px black;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

/* New Timeline */

/*.cont ul {*/
/*    !*border: 1px solid black;*!*/
/*    !*margin-top: 100px;*!*/
/*    list-style: none;*/
/*    position: relative;*/
/*    padding: 1px 100px;*/
/*    color: #000;*/
/*    font-size: 13px;*/
/*}*/
/*.cont ul:before {*/
/*    content: "";*/
/*    width: 1px;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    border-left: 2px dashed #fff;*/
/*}*/
/*.cont ul li {*/
/*    position: relative;*/
/*    margin-left: 30px;*/
/*    background-color: rgba(255, 255, 255, 0.2);*/
/*    padding: 14px;*/
/*    border-radius: 6px;*/
/*    width: 100%;*/
/*    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);*/
/*}*/
/*.cont ul li:not(:first-child) {*/
/*    margin-top: 60px;*/
/*}*/
/*.cont ul li > span {*/
/*    width: 2px;*/
/*    height: 100%;*/
/*    background: #000;*/
/*    left: -30px;*/
/*    top: 0;*/
/*    position: absolute;*/
/*}*/
/*.cont ul li > span:before, .container ul li > span:after {*/
/*    content: "";*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    border-radius: 50%;*/
/*    border: 2px solid #000;*/
/*    position: absolute;*/
/*    background: #86b7e7;*/
/*    left: -5px;*/
/*    top: 0;*/
/*}*/
/*.cont ul li span:after {*/
/*    top: 100%;*/
/*}*/
/*.cont ul li > div {*/
/*    margin-left: 10px;*/
/*}*/
/*.cont div .title, .container div .type {*/
/*    font-weight: 600;*/
/*    font-size: 12px;*/
/*}*/
/*.cont div .info {*/
/*    font-weight: 300;*/
/*}*/
/*.cont div > div {*/
/*    margin-top: 5px;*/
/*}*/
/*.cont span.number {*/
/*    height: 100%;*/
/*}*/
/*.cont span.number span {*/
/*    position: absolute;*/
/*    font-size: 10px;*/
/*    left: -35px;*/
/*    font-weight: bold;*/
/*}*/
/*.cont span.number span:first-child {*/
/*    top: 0;*/
/*}*/
/*.cont span.number span:last-child {*/
/*    top: 100%;*/
/*}*/

