@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Josefin+Sans|Playfair+Display+SC&display=swap');

.intro {
    padding: 5% 0;
    cursor: default;
}
.main-header #name {
    font-family: 'Playfair Display SC', serif;
}
.main-header {
    padding-top: 7%;
    padding-bottom: 4%;
    height: 85vh;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}